@{
    ViewBag.Title = "VerCotizacion";
    Layout = "~/Views/Shared/_LayoutVacio.cshtml";
}

@model List<EqCrm.Models.Cotizacion>

<style>

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 3px;
    }
</style>




@if (@HttpContext.Current.Session["oBase"].ToString() != "cgsersa")
{
    <div class="w-100 p-2">
        <div class="w-100">
            <table class="encabezado">
                <tr>
                    <td style="border:0" colspan="3">
                        <img src="~/images/Empresas/@HttpContext.Current.Session["cIdEmpresa"].ToString()/logo.jpg" alt="Logo" width="200" height="auto">
                    </td>
                    <td style="border:0; font-size: 3em; color:gray; " colspan="2">
                        COTIZACION
                    </td>
                </tr>
                <tr>
                    <td style="border:0" colspan="3">
                        @HttpContext.Current.Session["cDireccion"].ToString()
                    </td>
                    <td style="border:0; color:red; font-weight:bold; text-align:center; " colspan="2">
                        No.@Model[0].serie @Model[0].no_factura
                    </td>
                </tr>

                <tr>
                    <td style="border:0" colspan="3">
                        Teléfono: @HttpContext.Current.Session["cTelefono"].ToString()
                    </td>
                    <td style="border:0; background:black; color:white;">
                        Fecha:
                    </td>
                    <td style="border:0; background:black; color:white; ">
                        @Model[0].fecha
                    </td>
                </tr>

                <tr>
                    <td style="border:0" colspan="5">
                        Nit: @HttpContext.Current.Session["cNit"].ToString()
                    </td>
                </tr>

                <tr>
                    <td style="border: 1px solid black; background: black; color: white; border-left: 3px solid black;" colspan="2">
                        DATOS DEL VENDEDOR:
                    </td>
                    <td style="border: 1px solid black; background: black; color: white; border-right: 3px solid black;" colspan="3">
                        DATOS DEL CLIENTE:
                    </td>
                </tr>

                <tr>
                    <td style="border:0; border-left: 3px solid black; ">Nombre:</td>
                    <td style="border:0; border-right: 3px solid black;">@Model[0].nombre_vendedor</td>
                    <td style="border:0;" rowspan="3"> Nombre de la empresa:</td>
                    <td style="border:0; border-right: 3px solid black;" colspan="2" rowspan="3">@Model[0].cliente</td>
                </tr>
                <tr>
                    <td style="border: 0; border-left: 3px solid black; ">Directo:</td>
                    <td style="border:0;">@Model[0].telefono_vendedor</td>
                </tr>
                <tr>
                    <td style="border: 0; border-left: 3px solid black; ">E-mail:</td>
                    <td style="border:0;">@Model[0].correo_vendedor</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; background: black; color: white;  border-left: 3px solid black;" colspan="2">COMENTARIOS O INSTRUCCIONES ESPECIALES: </td>
                    <td style="border:0; border-left:3px solid black;">Contacto:</td>
                    <td style="border:0; border-right:3px solid black;" colspan="2">@Model[0].cliente</td>
                </tr>
                <tr>
                    <td style="border: 0; border-left: 3px solid black; " colspan="2">OFERTA VALIDA 8 DIAS HABILES</td>
                    <td style="border:0; border-left:3px solid black;">email:</td>
                    <td style="border:0; border-right:3px solid black;" colspan="2">@Model[0].email</td>
                </tr>
                <tr>
                    <td style="border: 0; border-left: 3px solid black; " colspan="2">PRECIOS SUJETOS A CAMBIOS SIN PREVIO AVISO</td>
                    <td style="border: 0; border-left:3px solid black;">telefono:</td>
                    <td style="border: 0; border-right:3px solid black;" colspan="2">@Model[0].telefono</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; background: black; color: white;  border-left: 3px solid black; " colspan="2">POLITICAS DE ENTREGA*</td>
                    <td style="border: 1px solid black; background: black; color: white; border-right: 3px solid black;" colspan="3">FORMAS DE PAGO</td>
                </tr>
                <tr>
                    <td style="border: 0; border-left: 3px solid black; " colspan="2">ENTREGAS A DOMICILIO DENTRO DEL PERIMETRO DE LA CIUDAD</td>
                    <td style="border:0; border-left: 3px solid black; border-right: 3px solid black;" colspan="3">* EFECTIVO</td>
                </tr>
                <tr>
                    <td style="border: 0; border-left: 3px solid black; " colspan="2">EN COMPRAS MAYORES A Q. 1,000.00</td>
                    <td style="border:0; border-left: 3px solid black; border-right: 3px solid black;" colspan="3">* EMITIR CHEQUES UNICAMENTE A: COMPAÑIA GLOBAL DE</td>
                </tr>
                <tr>
                    <td style="border: 0; border-left: 3px solid black; " colspan="2">2. ENTREGAS A DOMICILIO FUERA DEL PERIMETRO DE LA CIUDAD</td>
                    <td style="border:0; border-left: 3px solid black; border-right: 3px solid black;" colspan="3">TECNOLOGIA S.A.</td>
                </tr>
                <tr>
                    <td style="border: 0; border-left: 3px solid black; " colspan="2">EN COMPRAS MAYORES A Q. 2,500.00</td>
                    <td style="border:0; border-left: 3px solid black; border-right: 3px solid black;" colspan="3"></td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; background: black; color: white;  border-left: 3px solid black; " colspan="2">TIEMPO DE ENTREGA</td>
                    <td style="border: 1px solid black; background: black; color: white;" colspan="1">LUGAR DE ENVIO</td>
                    <td style="border: 1px solid black; background: black; color: white; border-right: 3px solid black;" colspan="2">CONDICIONES DE PAGO</td>
                </tr>
                <tr>
                    <td style="border: 3px solid black; " height="25" colspan="2"></td>
                    <td style="border: 3px solid black; " height="25"></td>
                    <td style="border: 3px solid black; " height="25" colspan="2"></td>
                </tr>
                <tr>
                    <td style="border: 3px solid black; " height="25" colspan="2"></td>
                    <td style="border: 3px solid black; " height="25">SEGUN POLITICAS DE ENTREGA*</td>
                    <td style="border: 3px solid black; " height="25" colspan="2"></td>
                </tr>
            </table>
        </div>
        <div class="w-100">
            <table class="cuerpo">
                <tr>
                    <th style="border: 1px solid black; background: black; color: white; border-left:3px solid black;">ITEM NO.</th>
                    <th style="border: 1px solid black; background: black; color: white;">CANTIDAD</th>
                    <th style="border: 1px solid black; background: black; color: white;">DESCRIPCION</th>
                    <th style="border: 1px solid black; background: black; color: white;">IMAGEN</th>
                    <th style="border: 1px solid black; background: black; color: white;">PRECIO POR UNIDAD</th>
                    <th style="border: 1px solid black; background: black; color: white; border-right:3px solid black;">SUBTOTAL</th>
                </tr>
                @{
                    var contador = 1;
                }
                @foreach (var item in @Model)
                {
                    <tr>
                        <td style="text-align:center; border-left: 1px solid black; border: 3px solid black;">@contador</td>

                        <td style="text-align: center; border: 3px solid black;">@item.cantidad</td>

                        <td style="border: 3px solid black;">@item.producto</td>

                        <td style=" text-align:center; border: 3px solid black;">
                            @if (item.url.Length > 41)
                            {<img src="@item.url" width="250" height="auto" /> }
                            else
                            { <span></span>}
                        </td>

                        <td style=" text-align:right; border: 3px solid black;" class="formatPrice">@item.precio</td>

                        <td style="text-align: right; border-right: 1px solid black; border: 3px solid black;" class="formatPrice">@item.subtotal</td>

                    </tr>
                    contador = contador + 1;

                }
                <tr>
                    <td style="border: 3px solid black;" colspan="1">
                        TOTAL EN LETRAS
                    </td>
                    <td style="border: 3px solid black;" colspan="5">
                        @Model[0].total_letras
                    </td>
                </tr>
                <tr>
                    <td style="border: 3px solid black; background: black; color: white; border-left:3px solid black;" colspan="4">
                        PRECIOS DADOS EN QUETZALES E INCLUYEN IVA
                    </td>
                    <td style="text-align:right; border: 3px solid black;">TOTAL</td>
                    <td style="text-align: right; border: 3px solid black;" class="formatPrice">
                        @Model[0].total
                    </td>
                </tr>

                <tr>
                    <td style="text-align: center; border:0;"><img src="~/images/logo_microsoft.jpg" alt="Logo MICROSOFT" width="150" height="auto"></td>
                    <td style="text-align: right; border:0;"><img src="~/images/logo_mysql.jpg" alt="Logo CGTECSA" width="150" height="auto"></td>
                    <td style="text-align: right; border:0;" colspan="3"><img src="~/images/logo_equilibriumcirculo.jpg" alt="Logo CGTECSA" width="150" height="auto"><img src="~/images/logo_equilibrium.jpeg" alt="Logo CGTECSA" width="150" height="auto"></td>
                </tr>
            </table>

        </div>
    </div>
}
else if (@HttpContext.Current.Session["oBase"].ToString() == "cgsersa")
{
    <div class="w-100 p-2" style="font-size: x-large;">
        <div class="w-100" style="padding-top:20px;">
            <table class="cuerpo">
                <tr>
                    <td style="border:0">
                        <img src="~/images/Empresas/@HttpContext.Current.Session["cIdEmpresa"].ToString()/logo.jpg" alt="Logo RIO" width="1200" height="auto">
                    </td>
                </tr>
                <tr>
                    <td style="border:none; text-align:right;">
                        <h4>Guatemala @Model[0].fecha</h4>
                    </td>
                </tr>
                <tr>
                    <td style="border:none;">
                        <center><h2><b>Propuesta Técnica y Económica para la Implementación de Punto de Venta ERP Equilibrium</b></h2></center>
                    </td>
                </tr>
                <tr>
                    <td style="border:none;">
                        <center><h4>Para</h4></center>
                        <center><h4>@Model[0].cliente</h4></center>
                    </td>
                </tr>

                <tr>
                    <td style="border:none;">

                        <b>I.     Solución</b><br />

                        <p style="text-align:justify;">
                            La solución que CORPORACION GLOBAL DE SERVICIOS, S.A. propone a su organización para software informático para el envío de factura electrónica desde el sistema.
                            Esta desarrollado con el fin de que cada factura sea firmada con el Certificador de su elección, sea impresa o enviada vía correo.<br />

                            Se genera según datos del cliente y criterios definidos en la implementación.<br />
                            Tareas de la aplicación:<br />
                            a) Interfaz gráfica para el usuario para revisión de facturas enviadas, con error o pendientes de envío.<br />
                            b) Lectura desde base de datos AS/400.<br />
                            c) Lenguaje de programación .NET.<br />
                            d) Generación de registros de éxitos y errores para verificar si se procesaron los documentos.<br />
                            e) Software automático de uso desatendido sin necesidad de intervención humana.<br />
                            <b>II.     Alcance de La Solución </b>
                            <br />
                        </p>
                        <p style="text-align:justify;">
                            El alcance de los servicios prestados por CORPORACION GLOBAL DE SERVICIOS, S.A. para el proyecto, lo podemos englobar de acuerdo a los elementos y componentes de la solución, los cuales se describen a continuación: <br />
                            <b>II.1.    Setup </b><br />
                            Configuración y creación del ambiente (instalación) del software en los servidores del DATA CENTER de su organización o servicio virtual de la organización. <br />
                            <b>II.2.    Implementación </b><br />
                            Configuración y habilitación de los módulos del sistema con la información proporcionada por su empresa. (Inventario, Facturación, Compras, Clientes) <br />
                            <b>II.3.    Implementación Licencia indefinida </b><br />
                            Instalación, configuración, pruebas y puesta en marcha del software. <br />
                            <b>II.4.    Capacitación </b><br />
                            Se capacitará al personal técnico de su organización para poder verificar el envío de las notificaciones vía email. <br />
                            <b>II.5.    Revisión de Procesos Internos </b><br />
                            CORPORACION GLOBAL DE SERVICIOS, S.A. en conjunto con el líder de proyecto asignado por su organización se encargarán de realizar un análisis o revisión de todos aquellos procesos internos que puedan ser afectados dentro de la infraestructura instalada y se hará observaciones si requieren de alguna adaptación especial para el funcionamiento adecuado de la aplicación. <br />
                            <b>II.10.    Pruebas Integrales </b><br />
                            Pruebas integrales de cada uno de los programas y puesta en producción de los mismos. <br />

                            <br />
                            <img src="~/images/Empresas/@HttpContext.Current.Session["cIdEmpresa"].ToString()/footer.jpg" alt="Logo RIO" width="1200" height="auto">
                        </p>

                    </td>
                </tr>
            </table>
            <table class="encabezado">
                <tr>
                    <td style="border:0">
                        <img src="~/images/Empresas/@HttpContext.Current.Session["cIdEmpresa"].ToString()/logo.jpg" alt="Logo RIO" width="1200" height="auto">
                    </td>
                </tr>
                <tr>
                    <td style="border:none;">
                        <b>Productos a Entregar </b>
                        <ul>
                            <li>Implementación software informático software informático software informático para el envío de factura electrónica desde su sistema.</li>
                            <li>Envío de facturas electrónicas y resguardo.</li>
                            <li>Dte de factura, Nota de crédito, factura especial, Nota de débito.</li>
                            <li>Envío automático de factura electrónica, a su cliente, si desea enviarla al momento de la generación (Mejora tiempos de entrega de documentos).</li>
                        </ul>

                        <b>IV.     Tiempo de Implantación</b>
                        <br />

                        El tiempo estimado para la implementación, pruebas, capacitación y puesta en producción de la solución es:
                        <b>•   30 días.</b>
                        <br />
                    </td>
                </tr>
                <tr>
                    <td style="border:none;">
                        <b>Premisas</b> <br />

                        CORPORACION GLOBAL DE SERVICIOS, S.A. basa la información y sus estimaciones de esta propuesta bajo las siguientes consideraciones: <br />
                        CORPORACION GLOBAL DE SERVICIOS, S.A. mantendrá a su organización al tanto de las desviaciones que puedan presentarse durante el proceso de ejecución de las actividades propuestas, las cuales puedan representar un riesgo para el proyecto. <br />
                        El esfuerzo y capacidad de CORPORACION GLOBAL DE SERVICIOS, S.A. para desarrollar el software descrito en la presente propuesta dependerá de la información su organización entregue sobre los requerimientos de infraestructura detallados del proyecto. <br />
                        CORPORACION GLOBAL DE SERVICIOS, S.A. no incluye los costos de hardware ni software que no estén específicamente detallados dentro del alcance de esta propuesta.<br />
                        El coste de la solución se basa únicamente en la información disponible al momento de generación de esta propuesta. <br />

                        <br />
                    </td>
                </tr>
                <tr>
                    <td style="border:none;">
                        <b>Propuesta Ecómica</b><br />
                        <div>
                            Este proyecto se basa en un precio fijo para los alcances y entregables definidos en la presente propuesta. <br />
                            El precio y tarifas están considerados según esfuerzo y experiencia basados en soluciones similares. <br />

                        </div>
                    </td>
                </tr>

            </table>
            <table class="cuerpo">
                @* INICIO DE TABLA DE LOS PRODUCTOS *@
                <b>Propuesta</b>
                <tr>
                    <th style="border: 1px solid black; background: black; color: white; border-left:3px solid black;">ITEM NO.</th>
                    <th style="border: 1px solid black; background: black; color: white;">CANTIDAD</th>
                    <th style="border: 1px solid black; background: black; color: white;">DESCRIPCION</th>
                    <th style="border: 1px solid black; background: black; color: white;">PRECIO POR UNIDAD</th>
                    <th style="border: 1px solid black; background: black; color: white; border-right:3px solid black;">SUBTOTAL</th>
                </tr>
                @{
                    var contador = 1;
                }
                @foreach (var item in @Model)
                {
                    <tr>
                        <td style="text-align:center; border-left: 1px solid black; border: 3px solid black;">@contador</td>

                        <td style="text-align: center; border: 3px solid black;">@item.cantidad</td>

                        <td style="border: 3px solid black;">@item.producto</td>

                        <td style=" text-align:right; border: 3px solid black;" class="formatPrice">@item.precio</td>

                        <td style="text-align: right; border-right: 1px solid black; border: 3px solid black;" class="formatPrice">@item.subtotal</td>

                    </tr>
                    contador = contador + 1;

                }
                @* FIN DE TABLA DE LOS PRODUCTOS *@
            </table>
            <table class="encabezado">
                <tr>
                    <td style="border:none;">
                        <b>Nota: </b><br />
                        El software tiene garantía de seguimiento de un mes a partir de la salida a producción. <br />

                        El tiempo de un mes se considera prudencial, debido a que en este periodo pueden enviar los distintos casos de facturación, con diferentes productos, tipos de documentos y diferentes clientes.

                    </td>
                </tr>
                <tr>
                    <td style="border:0">
                        <img src="~/images/Empresas/@HttpContext.Current.Session["cIdEmpresa"].ToString()/footer.jpg" alt="Logo RIO" width="1200" height="auto">
                    </td>
                </tr>
            </table>
        </div>

    </div>

}
