
@{
    ViewBag.Title = "Asignar";
    Layout = "~/Views/POS/Shared/_Layout.cshtml";
}

@model EqCrm.Models.POS.Caja

<script>

    function Asignar() {
        Id_caja = @Model.id_caja;
        Usuario = document.getElementById("Usuario").value;

        console.log("ID CAJA: " + Id_caja);
        console.log("Usuario: " + Usuario);

        $.ajax({
            async: false,
            type: "POST",
            dataType: "text",
            contentType: "application/x-www-form-urlencoded",
            url: "/POS/Cajas/AsignarCaja"  ,
            data: {  Id_caja, Usuario },
            success: function (response) {

                if (response = "false") {
                    window.location = "@Url.Action("Cajas","Cajas")";
                }
                else if (response = "true") {
                    alert("Ocurrio un error, por favor revise");
                    return;
                }
                else {
                    alert(response)
                    return;
                }
            },
            error: function () {
                alert("Ocurrio un Error");
            }
        });
    }

    function Cancelar() {
            window.location = "@Url.Action("Cajas","Cajas")";
    }
</script>
<div class="panel-container show">
    <div class="panel-content">
        <div class="tab-content py-3">
            <div class="tab-pane fade show active" id="nav_pills_default-1" role="tabpanel">
                <div class="row">
                    <div class="col-xl-12">
                        <div id="panel-1" class="panel">
                            <div class="panel-hdr">
                                <h2>
                                    ASIGNACION DE @Model.Nombre (ID: @Model.id_caja)
                                </h2>

                            </div>
                            <div class="panel-container show">
                                <div class="panel-content">
                                    <table class="table table-bordered table-hover table-striped w-100">
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label>Asignar Caja a Usuario</label>
                                                    <div class="input-group">
                                                        @Html.DropDownListFor(m => m.Usuario, ViewData["DlUsuarios"] as List<SelectListItem>, "Seleccionar Usuario", new { @class = "col-md-3 browser-default custom-select" })
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <button id="ActualizarInfo" class="btn btn-primary" onclick="Asignar();">Asignar Caja</button>
                                    <button id="Cancelar" class="btn btn-danger" onclick="Cancelar();">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>