@model EqCrm.Models.OrdenServicio

@{
    Layout = null;
}

@*@model List<EqCrm.Models.OrdenServicio>*@


<html>

<head>

    <style>
        tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style16
	{color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-style-name:Hipervínculo;
	mso-style-id:8;}
a:link
	{color:blue;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
a:visited
	{color:purple;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;}
.xl66
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$Q-100A\]\#\,\#\#0\.00";}
.xl67
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl68
	{mso-style-parent:style0;
	color:black;
	font-weight:700;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;}
.xl69
	{mso-style-parent:style0;
	color:black;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;}
.xl70
	{mso-style-parent:style0;
	color:black;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	text-align:right;}
.xl71
	{mso-style-parent:style0;
	color:black;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl72
	{mso-style-parent:style0;
	color:black;
	font-style:italic;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	@*mso-number-format:"\@";*@
	text-align:right;}
.xl73
	{mso-style-parent:style0;
	color:black;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$Q-100A\]\#\,\#\#0\.00";}
.xl74
	{mso-style-parent:style0;
	color:black;
	font-weight:700;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl75
	{mso-style-parent:style0;
	color:black;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl76
	{mso-style-parent:style0;
	color:black;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$Q-100A\]\#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl77
	{mso-style-parent:style0;
	color:black;
	font-style:italic;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;}
.xl78
	{mso-style-parent:style0;
	color:black;
	font-style:italic;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	text-align:left;}
.xl79
	{mso-style-parent:style0;
	color:black;
	font-weight:700;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$Q-100A\]\#\,\#\#0\.00";
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl80
	{mso-style-parent:style0;
	color:black;
	font-size:8.0pt;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;}
.xl81
	{mso-style-parent:style0;
	color:black;
	font-size:8.0pt;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$Q-100A\]\#\,\#\#0\.00";}
.xl82
	{mso-style-parent:style0;
	color:black;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl83
	{mso-style-parent:style0;
	color:black;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$Q-100A\]\#\,\#\#0\.00";}
.xl84
	{mso-style-parent:style0;
	color:black;
	font-weight:700;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	text-align:center;}
.xl85
	{mso-style-parent:style0;
	color:black;
	font-weight:700;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$Q-100A\]\#\,\#\#0\.00";}
.xl86
	{mso-style-parent:style0;
	color:black;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\0022Q\0022\#\,\#\#0\.00_\)\;\[Red\]\\\(\0022Q\0022\#\,\#\#0\.00\\\)";
	text-align:left;}
.xl87
	{mso-style-parent:style0;
	color:black;
	font-style:italic;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl88
	{mso-style-parent:style0;
	color:black;
	font-weight:700;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	text-align:right;}
.xl89
	{mso-style-parent:style0;
	color:black;
	font-weight:700;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$Q-100A\]\#\,\#\#0\.00";
	text-align:right;}
.xl90
	{mso-style-parent:style0;
	color:black;
	font-weight:700;
	font-style:italic;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	@*/*mso-number-format:"\@";*/*@
	text-align:right;}
.xl91
	{mso-style-parent:style0;
	color:black;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	text-align:left;}
.xl92
	{mso-style-parent:style16;
	color:blue;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl93
	{mso-style-parent:style0;
	color:black;
	font-style:italic;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	@*mso-number-format:"\[$-C0A\]d\\-mmm\\-yy\;\@";*@
	text-align:right;}
.xl94
	{mso-style-parent:style0;
	color:black;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;}
.xl95
	{mso-style-parent:style0;
	color:black;
	font-weight:700;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	background:silver;
	mso-pattern:black none;}
.xl96
	{mso-style-parent:style0;
	color:black;
	font-weight:700;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:"\[$Q-100A\]\#\,\#\#0\.00";
	background:silver;
	mso-pattern:black none;}

    </style>
</head>



<body link=blue vlink=purple>

    <table border=0 cellpadding=0 cellspacing=0 width=1192 style='border-collapse:
 collapse;table-layout:fixed;width:896pt'>
        <col class=xl65 width=117 span=4 style='mso-width-source:userset;mso-width-alt:
 4278;width:88pt'>
        <col class=xl65 width=90 style='mso-width-source:userset;mso-width-alt:3291;
 width:68pt'>
        <col class=xl65 width=117 style='mso-width-source:userset;mso-width-alt:4278;
 width:88pt'>
        <col class=xl66 width=117 style='mso-width-source:userset;mso-width-alt:4278;
 width:88pt'>
        <col class=xl67 width=80 span=2 style='mso-width-source:userset;mso-width-alt:
 2925;width:60pt'>
        <col width=80 span=4 style='mso-width-source:userset;mso-width-alt:2925;
 width:60pt'>
        <col width=86 style='mso-width-source:userset;mso-width-alt:3145;width:65pt'>
        <tr height=17 style='height:12.75pt'>
            @*<td height=17 class=xl65 width=117 style='height:12.75pt;width:88pt'>
                    <a name="Print_Area"></a>
                </td>*@
            <td class=xl65 width=117 style='width:88pt'></td>
            <td class=xl65 width=117 style='width:88pt'></td>
            <td class=xl65 width=117 style='width:88pt'></td>

            <td width=117 style='width:88pt' align=left valign=top>
                <span style='mso-ignore:vglayout;
  position:absolute;z-index:1;margin-left:24px;margin-top:0px;width:267px;
  height:106px'><img src="~/images/Empresas/@HttpContext.Current.Session["cIdEmpresa"].ToString()/logo.jpg" alt="Logo" width="200" height="auto"></span><![endif]><span style='mso-ignore:vglayout2'>
                    <table cellpadding=0 cellspacing=0>
                        <tr>
                            <td height=17 class=xl65 width=117 style='height:12.75pt;width:88pt'></td>
                        </tr>
                    </table>
                </span>
            </td>

            <td class=xl65 width=117 style='width:88pt'></td>
            <td class=xl66 width=117 style='width:88pt'></td>
            <td class=xl67 width=80 style='width:60pt'></td>
            <td class=xl67 width=80 style='width:60pt'></td>
            <td width=80 style='width:60pt'></td>
            <td width=80 style='width:60pt'></td>
            <td width=80 style='width:60pt'></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl65 style='height:12.75pt'></td>
            <td class=xl65></td>
            <td class=xl65></td>
            <td class=xl65></td>
            <td class=xl65></td>
            <td class=xl65></td>
            <td class=xl66></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl68 colspan=2 style='height:12.75pt;mso-ignore:colspan'>
                @ViewBag.Empresa
            </td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl88>FECHA:</td>
            <td class=xl93>@Model.fechaingreso</td>

            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl69 colspan=2 style='height:12.75pt;mso-ignore:colspan'>
            </td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl88>ORDEN:</td>
            <td class=xl72>@Model.bid_orden - @Model.serie</td>

            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl69 colspan=2 style='height:12.75pt;mso-ignore:colspan'>
                @ViewBag.Direccion
            </td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl88></td>
            <td class=xl90></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl69 style='height:12.75pt'>
                @ViewBag.DeptoMuni<span style='mso-spacerun:yes'> </span>
            </td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl70></td>
            <td class=xl72></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl69 colspan=2 style='height:12.75pt;mso-ignore:colspan'>
                @ViewBag.Pbx
            </td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl70></td>
            <td class=xl72></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl92 colspan=2 style='height:12.75pt;mso-ignore:colspan'>
                @ViewBag.PaginaWeb

            </td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl70></td>
            <td class=xl72></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl69 style='height:12.75pt'></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl73></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl74 colspan=2 style='height:12.75pt;mso-ignore:colspan'>
                INFORMACIÓN
                DEL CLIENTE
            </td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl68 style='height:12.75pt'>NOMBRE:</td>
            <td class=xl77 colspan=2 style='mso-ignore:colspan'>@Model.cliente</td>
            <td class=xl69></td>
            <td class=xl73></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl68>TELÉFONO:</td>
            <td class=xl78>@Model.telefono</td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl68 style='height:12.75pt'>EMAIL:</td>
            <td class=xl77>@Model.correo</td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl68></td>
            <td class=xl78></td>
            <td class=xl73></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl68 style='height:12.75pt'></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl68></td>
            <td class=xl69></td>
            <td class=xl73></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl74 colspan=2 style='height:20pt;mso-ignore:colspan'>
                INFORMACIÓN
                DEL VEHÍCULO
            </td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl68 style='height:12.75pt'>MARCA:</td>
            <td class=xl77>@Model.marca</td>
            <td class=xl73></td>
            <td class=xl68>LÍNEA:</td>
            <td class=xl77>@Model.lineavehiculo</td>
            <td class=xl73></td>
            <td class=xl68>AÑO:</td>
            <td class=xl78>@Model.modelo</td>

            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl68 style='height:12.75pt'>PLACA:</td>
            <td class=xl77>@Model.tipoplaca @Model.placa</td>
            <td class=xl73></td>
            <td class=xl68>COLOR:</td>
            <td class=xl77>@Model.color</td>
            <td class=xl71></td>
            <td class=xl68>CHASSIS:</td>
            <td class=xl78>@Model.chassis</td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl68 style='height:12.75pt'></td>
            <td class=xl77></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl68></td>
            <td class=xl69></td>
            <td class=xl73></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl74 colspan=2 style='height:20pt;mso-ignore:colspan'>
                INFORMACIÓN
                ASEGURADORA
            </td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl68 style='height:12.75pt'>COMPAÑÍA:</td>
            <td class=xl77>@Model.aseguradoras</td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl68>PÓLIZA:</td>
            <td class=xl91>@Model.poliza</td>
            <td class=xl73></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl68 style='height:12.75pt'>AJUSTADOR:</td>
            <td class=xl77>@Model.ajustador</td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl68>RECLAMO:</td>
            <td class=xl91>@Model.reclamo</td>
            <td class=xl73></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>
        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl68 style='height:12.75pt'></td>
            <td class=xl77></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl68></td>
            <td class=xl69></td>
            <td class=xl73></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>




        @*------------------------------------ ENDEREZADO Y PUNTURA ------------------------------------*@

        <tr class=xl71 height=20 style='mso-height-source:userset;height:15.6pt'>

            <td height=20 class=xl74 colspan=2 style='height:20pt;mso-ignore:colspan'>ENDEREZADO Y PINTURA</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>

        @Html.Raw(ViewBag.Enderezado)


        <tr class=xl71 height=19 style='mso-height-source:userset;height:14.45pt'>
            <td height=19 class=xl69 style='height:14.45pt'></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl95 colspan=2 style='mso-ignore:colspan'> TOTAL ENDEREZADO Y PINTURA</td>
            <td class=xl95>&nbsp;</td>
            <td class=xl96 align=right>Q @ViewBag.TotalEnderezado</td>

            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>



        @*------------------------------------ MECANICA ------------------------------------*@

        <tr class=xl71 height=16 style='mso-height-source:userset;height:12.0pt'>
            <td height=16 class=xl74 style='height:12.0pt'>MECANICA</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>

            <td class=xl71></td>
            <td class=xl71></td>
        </tr>


        @Html.Raw(ViewBag.Mecanica)


        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl69 style='height:12.75pt'></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl95>TOTAL MECANICA</td>
            <td class=xl95>&nbsp;</td>
            <td class=xl95>&nbsp;</td>
            <td class=xl96 align=right>Q @ViewBag.TotalMecanica</td>

            <td class=xl71></td>
            <td class=xl71></td>
        </tr>



        @*------------------------------------ REPUESTOS EXTERNOS ------------------------------------*@

        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl74 colspan=2 style='height:12.75pt;mso-ignore:colspan'>
                REPUESTOS<span style='mso-spacerun:yes'>  </span>EXTERNOS
            </td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl71></td>
            <td class=xl71></td>
        </tr>

        @Html.Raw(ViewBag.RepExt)

        <tr class=xl71 height=17 style='height:12.75pt'>
            <td height=17 class=xl69 style='height:12.75pt'></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl67></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl95 colspan=2 style='mso-ignore:colspan'>TOTAL REPUESTOS EXTERNOS:</td>
            <td class=xl95>&nbsp;</td>
            <td class=xl96 align=right>Q @ViewBag.TotalRepExt</td>

            <td class=xl71></td>
            <td class=xl71></td>
        </tr>



        @*------------------------------------ REPUESTOS INTERNOS ------------------------------------*@

        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl74 colspan=2 style='height:12.75pt;mso-ignore:colspan'>
                REPUESTOS<span style='mso-spacerun:yes'>  </span>INTERNOS
            </td>
            <td class=xl74>&nbsp;</td>
            <td class=xl74>&nbsp;</td>
            <td class=xl74>&nbsp;</td>
            <td class=xl74>&nbsp;</td>
            <td class=xl79>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>

        @Html.Raw(ViewBag.RepInt)

        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl77 style='height:12.75pt'></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td class=xl95 colspan=2 style='mso-ignore:colspan'>TOTAL REPUESTOS INTERNOS:</td>
            <td class=xl95>&nbsp;</td>
            <td class=xl96 align=right>Q @ViewBag.TotalRepInt</td>

            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl74 colspan=2 style='height:12.75pt;mso-ignore:colspan'>OTROS SERVICIOS</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>

        @Html.Raw(ViewBag.Otros)

        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl69 style='height:12.75pt'></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td class=xl95 colspan=2 style='mso-ignore:colspan'>TOTAL OTROS SERVICIOS:</td>
            <td class=xl95>&nbsp;</td>
            <td class=xl96 align=right>Q @ViewBag.TotalOtros</td>

            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>


        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl69 style='height:12.75pt'></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl73 align=right></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>

        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl74 style='height:12.75pt'>RESUMEN</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl73></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>

        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl68 colspan=2 style='height:12.75pt;mso-ignore:colspan'>
                ENDEREZADO
                Y PINTURA:
            </td>
            <td class=xl89>Q @ViewBag.TotalEnderezado</td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl73></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl68 style='height:12.75pt'>MECANICA:</td>
            <td class=xl68></td>
            <td class=xl89>Q @ViewBag.TotalMecanica</td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl73></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl68 colspan=2 style='height:12.75pt;mso-ignore:colspan'>
                REPUESTOS
                EXTERNOS:
            </td>
            <td class=xl89>Q @ViewBag.TotalRepExt</td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl73></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl68 colspan=2 style='height:12.75pt;mso-ignore:colspan'>
                REPUESTOS
                INTERNOS:
            </td>
            <td class=xl89>Q @ViewBag.TotalRepInt</td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl73></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl68 colspan=2 style='height:12.75pt;mso-ignore:colspan'>
                OTROS
                SERVICIOS:
            </td>
            <td class=xl85 align=right>Q @ViewBag.TotalOtros</td>
            <td class=xl69></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl71></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl95 style='height:12.75pt'>TOTAL A PAGAR:</td>
            <td class=xl95>&nbsp;</td>
            <td class=xl96 align=right>Q @ViewBag.TotalCompleto</td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl84></td>
            <td class=xl73></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl69 style='height:12.75pt'></td>
            <td class=xl69></td>
            <td class=xl73></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl73></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl69 style='height:12.75pt'></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl73></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl74 style='height:12.75pt'>OBSERVACIONES</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>
            <td class=xl75>&nbsp;</td>

            <td class=xl71></td>
            <td class=xl71></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl68 style='height:12.75pt'></td>
            <td class=xl68>@Model.obs</td>
            <td class=xl68></td>
            <td class=xl68></td>
            <td class=xl68></td>
            <td class=xl68></td>
            <td class=xl85></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl68 style='height:12.75pt'></td>
            <td class=xl86></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl73></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl77 style='height:12.75pt'></td>
            <td class=xl86></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl73></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl77 style='height:12.75pt'></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl69></td>
            <td class=xl73></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>
        <tr height=17 style='page-break-before:always;height:12.75pt'>
            <td height=17 class=xl80 style='height:12.75pt'></td>
            <td class=xl80></td>
            <td class=xl80></td>
            <td class=xl80></td>
            <td class=xl80></td>
            <td class=xl80></td>
            <td class=xl81></td>
            <td class=xl67></td>
            <td class=xl67></td>
            <td colspan=3 style='mso-ignore:colspan'></td>
        </tr>
        <![if supportMisalignedColumns]>
        <tr height=0 style='display:none'>
            <td width=117 style='width:88pt'></td>
            <td width=117 style='width:88pt'></td>
            <td width=117 style='width:88pt'></td>
            <td width=117 style='width:88pt'></td>
            <td width=90 style='width:68pt'></td>
            <td width=117 style='width:88pt'></td>
            <td width=117 style='width:88pt'></td>
            <td width=80 style='width:60pt'></td>
            <td width=80 style='width:60pt'></td>
            <td width=80 style='width:60pt'></td>
            <td width=80 style='width:60pt'></td>
            <td width=80 style='width:60pt'></td>
        </tr>
        <![endif]>
    </table>

</body>

</html>
